# Git
.git
.gitignore

# Maven
target/
!target/*.jar

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Logs
logs/
*.log

# Test
src/test/

# Documentation
*.md
docs/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
*.swp
*.swo
.DS_Store 