# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.json text
*.yml text
*.yaml text
*.xml text
*.properties text
*.java text
*.gradle text
*.kt text
*.kts text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Scripts
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

# Archives
*.zip binary
*.tar binary
*.gz binary
*.rar binary
*.7z binary

# Exclude files from export
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
LICENSE export-ignore 